<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>artistregist</display-name>
    <servlet-name>artistregist</servlet-name>
    <servlet-class>com.fairmusic.artist.controller.ArtistRegist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artistregist</servlet-name>
    <url-pattern>/artistregist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audio</display-name>
    <servlet-name>audio</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audio</servlet-name>
    <url-pattern>/audio.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>album</display-name>
    <servlet-name>album</servlet-name>
    <servlet-class>com.fairmusic.album.controller.albumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>album</servlet-name>
    <url-pattern>/album.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>copyrighter</display-name>
    <servlet-name>copyrighter</servlet-name>
    <servlet-class>com.fairmusic.copyrighter.controller.copyrighterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>copyrighter</servlet-name>
    <url-pattern>/copyrighter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>email</display-name>
    <servlet-name>email</servlet-name>
    <servlet-class>com.fairmusic.loginEmailauth.EmailVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>email</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacebookJoin</display-name>
    <servlet-name>FacebookJoin</servlet-name>
    <servlet-class>com.fairmusic.artist.controller.FacebookJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookJoin</servlet-name>
    <url-pattern>/FacebookJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>widget</display-name>
    <servlet-name>widget</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.widgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>widget</servlet-name>
    <url-pattern>/widget.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serpath</display-name>
    <servlet-name>serpath</servlet-name>
    <servlet-class>com.fairmusic.seong.ServerPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serpath</servlet-name>
    <url-pattern>/serpath.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audiolist</display-name>
    <servlet-name>audiolist</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.myAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audiolist</servlet-name>
    <url-pattern>/audiolist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myalbum</display-name>
    <servlet-name>myalbum</servlet-name>
    <servlet-class>com.fairmusic.album.controller.myAlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myalbum</servlet-name>
    <url-pattern>/myalbum.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second</display-name>
    <servlet-name>second</servlet-name>
    <servlet-class>com.fairmusic.seong.secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audiopage</display-name>
    <servlet-name>audiopage</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audiopage</servlet-name>
    <url-pattern>/audiopage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audiodel</display-name>
    <servlet-name>audiodel</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audiodel</servlet-name>
    <url-pattern>/audiodel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audiomanage</display-name>
    <servlet-name>audiomanage</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audiomanage</servlet-name>
    <url-pattern>/audiomanage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>have</display-name>
    <servlet-name>have</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.havingAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>have</servlet-name>
    <url-pattern>/have.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audiodown</display-name>
    <servlet-name>audiodown</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audiodown</servlet-name>
    <url-pattern>/audiodown.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>audiobuy</display-name>
    <servlet-name>audiobuy</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>audiobuy</servlet-name>
    <url-pattern>/audiobuy.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ten</display-name>
    <servlet-name>ten</servlet-name>
    <servlet-class>com.fairmusic.seong.TenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ten</servlet-name>
    <url-pattern>/ten.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bitpage</display-name>
    <servlet-name>bitpage</servlet-name>
    <servlet-class>com.fairmusic.audio.controller.audioBitPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bitpage</servlet-name>
    <url-pattern>/bitpage.do</url-pattern>
  </servlet-mapping>
</web-app>